@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
body{
    margin:0;
    padding: 0;
    font-family: 'PT Sans Narrow', sans-serif;
}
.header{
    position: absolute;
	top: 0;
	left: 0;
	width: 98%;
	height: 80px;
	padding: 0 10%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	box-sizing: border-box;
}
.header .logo{
	font-size: 2em;
    text-transform: uppercase;
    font-family: 'PT Sans Narrow', sans-serif;
}
.header .logo span{
    color: gray;
}
.header ul{
    z-index: 100;
	display: flex;
}
.header ul li{
	list-style: none;
	margin: 0 10px;
}
.header ul li a{
    text-decoration: none;
	font-size: 1.2em;
	color: #000;
	padding: 5px 10px;
	letter-spacing: 2px;
}
.header ul li a:hover
{
	background: #000;
	color: #fff;
}
.form-box{
    margin-top: 10%;
    background: transparent;
    box-sizing: border-box;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.3);
    text-align: center;
    justify-content: center;
    border-radius: 2px;
}
.form-box h2{
    font-size: 2.5em;
    color: black;
    letter-spacing: 2px;
    word-spacing: 2px;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}
.form-box h2 span{
    color: gray;
}
.form-box .alert{
    width: 80%;
    margin-left: 10%;
}
.form-box #radio{
    width: 15px;
    height: 15px;
}
.form-box input{
    width: 80%;
    height: 45px;
    border: 1px solid black;
    text-align: center;
    border-radius: 2px;
}
.form-box button, .form-box2 button{
    width: 50%;
    background: black;
    color: whitesmoke;
    font-size: 17px;
    height: 45px;
    border: none;
}
.form-box button:hover, .form-box2 button:hover{
    background: rgba(0,0,0,0.7);
}
.admin-menu{
    width: 80%;
    margin-top: 7%;
    margin-left: 10%;
}
.admin-menu .user-menu ul li a{
    color: black;
    font-size: 15px;
}
.form-box2{
    margin-top: 5%;
    background: transparent;
    box-sizing: border-box;
    text-align: center;
    justify-content: center;
    border-radius: 2px;
}
.form-box2 input{
   width: 60%;
   height: 45px;
   text-align: center;
   border: 1px solid gray;
   border-radius: 2px;
}
.form-box2 h2 span{
    color: gray;
}
.form-box2 #radio{
    width: 15px;
    height: 15px;
}
