<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <title>Admin</title>
    <link rel="stylesheet" href="../static/forms.css">
</head>
<body>
    <div class="row header">
        <h2 class="logo">bonn <span>International</span></h2>
        <ul>
            <li>
                <a href="/" class="active">Home</a>
            </li>
            <li>
                <a href="#">Contact</a>
            </li>
            <li>
                <a href="/login">Login</a>
            </li>
            <li>
                <a href="/admin">Admin</a>
            </li>
        </ul>
    </div>
    <br><br><br>
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <div class="form-box">
                <br><br>
                <h2>Admin <span>Login</span> here</h2>
                <br><br>
                <div class="{{type}}">
                    <h5>{{msg}}</h5>
                </div>
                <br><br>
                <form action="/admin-login" method="POST">
                    <input type="text" placeholder="Name" name="name" value="admin">
                    <br><br>
                    <input type="password" name="password" placeholder="Password" value="admin">
                    <br><br>
                    <button type="submit"><i class="fa fa-sign-in" aria-hidden="true"></i> Login</button>
                    <br><br><br>
                </form>
            </div>
        </div>
    </div>
</body>
</html>