<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/home.css">
    <link rel="stylesheet" href="../static/styles.css">
    <title>Home</title>
</head>
<body class="bodyitem">
           
                <div class="content">
                <div class="open">
                    <div class="layer"></div>
                    <div class="layer"></div>
                </div>
                <section>
                    <div class="header">
                        <h2 class="logo">bonn <span>International</span></h2>
                        <ul>
                            <li>
                                <a href="/" class="active">Home</a>
                            </li>
                            <li>
                                <a href="/login">Contact</a>
                            </li>
                            <li>
                                <a href="/login">Login</a>
                            </li>
                            <li>
                                <a href="/admin">Admin</a>
                            </li>
                        </ul>
                    </div>
                    <div class="bannerText">
                        <h2 class="name">Bonn <span>international</span></h2><br>
                        <h3>journey toward bright future</h3>
                        <p class="para">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        <a href="/login">Read More</a>
                    </div>
                    <ul class="sci">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                    <div class="element1"></div>
                    <div class="element2"></div>
                </section>
            </div>
</body>
</html>